.App {
  margin: 0 auto;
  text-align: center;
  max-width: 700px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200vh;
  border: solid 1px black;
}

.map {
  margin-top: 50px;
  width: 600px;
  height: 600px;
}

.navBar {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  width: 700px;
  height: 100px;
  justify-content: space-around;
  bottom: 0;
  align-items: center;
  border: solid 1px black;
}

.navBtn {
  box-sizing: border-box;
  height: 90px;
  width: 120px;
  border-radius: 10px;
  font-size: 30px;
  border: solid 1px black;
}
