.details {
  margin-top: 4vh;
  width: 100%;
  height: 86vh;
  overflow-y: scroll;
  border: solid 1px black;
  font-size: min(5vmin, 30px);
  box-sizing: border-box;
}

img.detailPic {
  margin-top: 2vmin;
  width: 70vmin;
  height: 70vmin;
  max-width: 40vh;
  max-height: 40vh;
}

div.detailRating {
  position: relative;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 4vmin;
}

.star-base {
  color: #aaa9a9;
}

.star-fill {
  color: yellow;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

div.btnContainer {
  position: fixed;
  bottom: 10vh;
  text-align: right;
  width: 100%;
  max-width: 700px;
}

img.writeComment {
  width: min(8vmin, 40px);
  height: min(8vmin, 40px);
  margin-right: min(9%, 40px);
  margin-bottom: min(2%, 2vh);
}

/* comment 컴포넌트*/
.commentWrapper {
  padding: min(2vmin, 5px);
  width: 70%;
  margin-top: 1vh;
  border: solid 1px black;
  transform: translate(21%, 0);
  box-sizing: border-box;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  font-size: 2vmin;
  margin-right: 3vmin;
}

.commentContent {
  font-size: 3vmin;
  text-align: left;
}

div.noComment {
  font-size: min(4vmin, 20px);
  margin-top: 2vh;
}
