div.details {
  margin-top: 4vh;
  width: 100%;
  height: 86vh;
  overflow-y: scroll;
  font-size: min(5vmin, 30px);
  box-sizing: border-box;
}

div.details::-webkit-scrollbar {
  display: none;
}

img.detailPic {
  margin-top: 2vmin;
  width: 70vmin;
  height: 70vmin;
  max-width: 40vh;
  max-height: 40vh;
}

div.detailRating {
  position: relative;
  width: max-content;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 4vmin;
}

div.detailRatingText {
  font-size: 4vmin;
}

@media (max-width: 750px) {
  div.detailRating {
    font-size: 8vmin;
  }
}

.star-base {
  color: #aaa9a9;
}

.star-fill {
  color: yellow;
  z-index: 2;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

div.btnContainer {
  position: fixed;
  bottom: 10vh;
  text-align: right;
  width: 100%;
  max-width: 750px;
}

svg.writeComment {
  margin-right: 1vw;
  margin-bottom: 1vw;
  font-size: 3em;
}

@media (max-width: 750px) {
  svg.writeComment {
    font-size: 2em;
  }
}

/* comment 컴포넌트*/
.commentWrapper {
  padding: min(2vmin, 5px);
  width: 80%;
  margin-top: 1vh;
  border: solid 1px gray;
  border-radius: 1vw;
  transform: translate(12.5%, 0);
  box-sizing: border-box;
  box-shadow: 0 0 3px gray;
}

.commentHeader {
  display: flex;
  justify-content: space-between;
  font-size: 2vmin;
  margin-right: 3vmin;
  margin-bottom: 1.5vh;
}

.commentContent {
  font-size: 3vmin;
  text-align: left;
  word-break: break-all;
}

div.noComment {
  font-size: min(4vmin, 20px);
  margin-top: 2vh;
}
