.changeInfo-wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 80vh;
  justify-content: center;
}

.changeInfo-logo-wrapper {
  height: 13vh;
}

.changeInfo-body {
  display: flex;
  flex-direction: column;
}

.changeInfo-logo {
  height: 15vh;
}

.changeInfo-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.changeInfo-chages {
  display: flex;
  justify-content: space-between;
  height: 8vh;
  align-items: center;
}

.changeInfo-input-title {
  margin-left: 7%;
  font-size: 3.5vmin;
  vertical-align: middle;
}

.changeInfo-input-content {
  height: 4vh;
  width: 90%;
  font-size: 3.5vmin;
}

.changeInfo-input-wrapper {
  width: 50%;
  display: flex;
}

.changeInfo-input-fixed {
  font-size: 3.5vmin;
}

.changeInfo-submitBtn {
  margin-top: 3vh;
  height: 5vh;
  width: 50%;
  font-size: 3.5vmin;
}
