.login-page-wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: white 1px solid;
  border-radius: 2vw;
  margin-bottom: 3vh;
}

.inputs-wrapper {
  width: 80%;
  margin: 4vh 2vh 2vh 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-wrapper {
  height: 25vh;
  margin-top: 10vh;
  margin-bottom: -5vh;
}

img {
  max-width: 100%;
  height: auto;
}

.loginBtn {
  height: 5vh;
  width: 80%;
  font-size: 3.5vmin;
  margin-bottom: 2vh;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 1vw;
  box-shadow: 0 0 3px gray;
}

.idpw-box-id {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border: gray 1px solid;
  border-radius: 2vw 2vw 0 0;
  box-shadow: -1px -1px 2px gray, 1px 0px 2px gray;
}

.idpw-box-pw {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-left: gray 1px solid;
  border-right: gray 1px solid;
  border-bottom: gray 1px solid;
  border-radius: 0 0 2vw 2vw;
  box-shadow: -1px 0px 1px gray, 1px 1px 1px gray;
}

.idpw-indicator {
  font-size: 3.5vmin;
  width: 25%;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

.social-title {
  margin-bottom: 1vh;
  font-size: 3.5vmin;
}

.social-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.loginMenu {
  cursor: pointer;
  width: 20%;
  margin: 0 5vw;
}

#kLogo {
  width: 50%;
}

#nLogo {
  width: 50%;
}

.login-input {
  height: auto;
  width: 70%;
  border: none;
  margin: 2px;
  margin-right: 2%;
  font-size: 3.5vmin;
  background-color: inherit;
}

@media (min-width: 750px) {
  .idpw-box-id {
    border-radius: 15px 15px 0 0;
  }
  .idpw-box-pw {
    border-radius: 0 0 15px 15px;
  }
}
