.mypage-box-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.mypage-logo-wrapper {
  height: 15vh;
  margin-top: -15vh;
  width: auto;
}

.mypage-idpw {
  border: solid 1px gray;
  border-radius: 1vw;
  box-shadow: 0 0 3px gray;
  display: flex;
  /* min-width: 80%; */
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.mypage-inner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.mypage-menu-title {
  text-align: left;
  width: 80%;
  margin-top: 2vh;
  margin-bottom: 1.5vh;
  font-size: 3.5vmin;
  color: gray;
}

#mypage-nick {
  border-top: gray 1px solid;
}

#mypage-del-wrapper {
  border-top: gray 1px solid;
}

.mypage-menu-content {
  width: 80%;
  margin-top: 0;
  margin-bottom: 1.5vh;
  font-size: 4vmin;
  text-align: left;
}

.mypage-delBtn-wrapper {
  margin: 2vh 0;
  width: 80%;
}

.mypage-cancel-btn {
  width: 20%;
  border-radius: 1vw;
}

.mypage-sidebar-wrapper {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  width: 70%;
}

.change-info {
  cursor: pointer;
  font-size: 3.5vmin;
  text-decoration-line: none;
  color: inherit;
  width: 50%;
}

.delete-info {
  cursor: pointer;
  font-size: 3.5vmin;
  width: 50%;
}

.login-require {
  text-align: center;
  font-size: 6.5vmin;
}

.login-require-logo {
  height: 20vh;
  margin-top: -16vh;
}

.mypage-pw-confirm {
  height: 5vh;
  font-size: 4vmin;
  width: 80%;
  border-radius: 1vw;
  box-sizing: border-box;
  padding-left: 2vw;
  box-shadow: 0 0 3px gray;
}

.mypage-hide {
  display: none;
}

.mypage-delBtn-wrapper {
  display: flex;
  justify-content: space-around;
}

.mypage-cancel-btn {
  width: 30%;
  height: 4vh;
  cursor: pointer;
}

.mypage-del-menus {
  display: flex;
  width: 70%;
  justify-content: space-around;
}

@media (min-width: 750px) {
  .mypage-cancel-btn {
    font-size: 3.5vmin;
  }
}
