.mypage-box-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  align-items: center;
  flex-direction: column;
}

.mypage-logo-wrapper {
  height: 15vh;
  margin-top: -15vh;
  width: auto;
}

.mypage-idpw {
  border: solid 1px;
  border-radius: 5% / 10%;
  display: flex;
  /* min-width: 80%; */
  width: 100%;
  flex-direction: column;
  justify-content: left;
}

.mypage-inner-box {
  display: flex;
  flex-direction: column;
}

#mypage-nick {
  border-top: black 1px solid;
}

.mypage-idbox {
  margin: 2vh 0 0 5%;
  text-align: left;
  font-size: 6vmin;
}

.mypage-ididbox {
  margin-left: 5%;
  font-size: 4vmin;
  text-align: left;
}

.mypage-sidebar-wrapper {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  width: 70%;
}

.change-info {
  cursor: pointer;
  font-size: 3.5vmin;
  margin-right: 10%;
  text-decoration-line: none;
  color: inherit;
  width: 50%;
}

.delete-info {
  cursor: pointer;
  font-size: 3.5vmin;
  margin-left: 10%;
  width: 50%;
}

.login-require {
  text-align: center;
  font-size: 8vmin;
}

.login-require-logo {
  width: 50%;
  margin-top: -14vh;
}

.mypage-pw-confirm {
  height: 5vh;
  margin-top: 3vh;
  margin-left: 5%;
  width: 60%;
}

.mypage-hide {
  display: none;
}
