.mypage-box-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  flex-direction: column;
}

.mypage-logo-wrapper {
  max-height: 20vh;
  min-height: 3vh;
  width: auto;
}

.mypage-idpw {
  border: solid 1px;
  display: flex;
  width: 80%;
  margin-left: 10%;
  font-size: 3.5vmin;
  flex-direction: column;
}

.mypage-inner-box {
  display: flex;
}

.mypage-idbox {
  margin-left: 10%;
  font-size: 3vmin;
}

.mypage-ididbox {
  margin-left: 10%;
  font-size: 3vmin;
}

.mypage-sidebar-wrapper {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
}

.change-info {
  cursor: pointer;
  font-size: 2vmin;
  margin-right: 10%;
  text-decoration-line: none;
  color: inherit;
}

.delete-info {
  cursor: pointer;
  font-size: 2vmin;
  margin-left: 10%;
}

.login-require {
  text-align: center;
  font-size: 4vmin;
}

.login-require-logo {
  width: 30%;
}

.login-require-logo-wrapper {
  text-align: center;
}

.mypage-pw-confirm {
  height: 5vh;
  margin-top: 3vh;
  margin-left: 5%;
  width: 60%;
}

.mypage-hide {
  display: none;
}
