.signup-page-wrapper {
  display: flex;
  width: 80%;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.signup-logo-wrapper {
  height: 12vh;
  margin-top: -4vh;
}

.signup-body {
  display: flex;
  flex-direction: column;
}

.signup-menu {
  display: flex;
  flex-direction: column;
}

.signup-title {
  text-align: left;
  font-size: 3.5vmin;
  margin: 1vh 0;
}

.signup-input {
  height: 4vh;
  font-size: 3.5vmin;
  border: solid 1px gray;
  margin: 0 0 1vh 0;
  border-radius: 1vw;
}

.signup-reg {
  text-align: left;
  font-size: 2vmin;
  color: red;
  height: 2vh;
  margin-bottom: 1.7vh;
}

.signup-btn {
  height: 5vh;
  margin-top: 4vh;
  width: 100%;
  font-size: 3.5vmin;
  margin-right: 3%;
  border-radius: 2vw;
}

.signup-green {
  color: green;
}
