.signup-page-wrapper {
  display: flex;
  width: 90%;
  justify-content: center;
  flex-direction: column;
  height: 90vh;
}

.signup-logo-wrapper {
  height: 12vh;
  margin-top: -4vh;
}

.signup-body {
  display: flex;
  flex-direction: column;
}

.signup-menu {
  display: flex;
  flex-direction: column;
}

.signup-title {
  text-align: left;
  font-size: 3.5vmin;
  margin: 1vh 0;
}

.signup-input {
  height: 4vh;
  font-size: 3vmin;
  border: solid 1px;
  margin: 1vh 0;
  border-radius: 2vw;
}

.signup-reg {
  text-align: left;
  font-size: 2vmin;
}

.signup-btn {
  height: 5vh;
  margin-top: 4vh;
  width: 40%;
  font-size: 3.5vmin;
  margin-right: 3%;
  border-radius: 2vw;
}
