.box-wrapper {
  display: flex;
  width: 90%;
  justify-content: center;
  height: auto;
}

.box {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin-left: 5%;
}

.signup-input {
  height: 5vh;
  width: 90%;
  border: solid 1px;
  margin: 1.5vh 0 1.5vh 0;
}

.signup-wrapper {
  width: 90%;
}
.signup-btn {
  height: 5vh;
  margin-top: 3vh;
  width: 70%;
  margin-right: 3%;
}
